
:root {
	--color-offwhite: #f4f4f4;
	--color-lightyellow: #fcccdb;

	--color-main-light: #e4cbf1;
	--color-main-medium: #d89dfa;
	--color-main-dark: #38029e;

	--color-neutral-light: #ebcafc;
	--color-neutral-medium: #deaafa;
	--color-neutral-dark: #aa81f5;
}

body {
	background-color: var(--color-lightyellow);
}



@media (max-width: 800px) {
	.container {
		padding-left: 1em;
		padding-right: 1em;
	}
	.navbar h1 {
		padding-left: 0.5em;
	}
}
@media (max-width: 400px) {
	.navbar .display-flex {
		display: block;
	}
	.navbar .nav li {
		line-height: 2em;
	}
}



.figure.product {
	border-radius: 0.5em;
	box-shadow: 0 2px 5px rgba(0,0,0,0.1);
	overflow: hidden;
}

.product-overlay {
	position: relative;
	overflow: hidden;
}
.product-overlay figcaption {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
	opacity: 0;
	transition: all 0.3s;
	display: flex;
	align-items: center;
	justify-content: center;
}
.product-overlay:hover figcaption {
	opacity: 1;
}
.product-overlay .caption-body {
	background-color: white;
	border-radius: 0.5em;
	padding: 1em;
	transform: translateY(2em);
	transition: all 0.3s;
}
.product-overlay:hover .caption-body {
	transform: translateY(0);
}
.product-overlay img {
	transform: scale(1,1);
	transition: all 0.3s;
}
.product-overlay:hover img {
	transform: scale(1.4,1.4);
}

@media (max-width: 600px) {
	.product-overlay figcaption {
		position: relative;
		display: block;
		top: initial;
		left: initial;
		width: 100%;
		height: initial;
		opacity: 1;
		background-color: initial;
	}
	.product-overlay .caption-body {
		transform: none;
		padding: 0;
	}
}
